.wrapped-album {
    position: relative;
}

.wrapped-album-card .spinner-positioner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.wrapped-album-list-item .spinner-positioner {
    position: absolute; 
    left: 1.5%;
    top: 35%;
    transform: translateX(-1.5%) translateY(-35%);
}

.loaded-album-info .spinner-border {
    display: none;
}

.loaded-album-info:hover {
    cursor: pointer;
}

.album-intro-row {
    display: inline-block
}
  
.dialog-card-container {
    display: inline-block;
}

.extra-album-info-container {
    display: flex;
}

.album-info-msg {
    flex-grow: 1;
    width: 0;
}

.explicit-icon {
    /* red: */
    filter: invert(17%) sepia(100%) saturate(4677%) hue-rotate(356deg) brightness(99%) contrast(119%);
}
