.wrapped-album {
    position: relative;
}

.spinner-centraliser {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loaded-album-info .spinner-border {
    display: none;
}

.loaded-album-info:hover {
    cursor: pointer;
}

.album-intro-row {
    display: flex;
    flex-wrap: wrap;
}

.dialog-card-container {
    display: inline-block;
}

.extra-album-info {
    font-size: 1.2rem;
}
