
.list:hover .bi-play-fill {
    color: gray;
}

.list .display {
    color: green;
}

/* .card-view .bi-play-fill {
    display: none;
}

.card-view h6 {
    display: inline-block
}
 
.card-view:hover .bi-play-fill {
    display: inline-block;
}

.card-view .bi-pause {
    display: none;
}

.card-view:hover .bi-pause {
    display: inline-block;
}


 .card-view .display {
    display: inline-block;
} */

