.star-checkbox {
    display: none;
}

.star-label {
    display: inline;
    padding-left: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.gold {
    color: rgb(242, 205, 0);
}

.inversion {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}