.bottomscreen {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    border-top: 1px solid grey;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: 0% 1%;
}

.region {
    flex-grow: 1;
}

.center-position {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center-elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test {
    width: 25%;
    display: flex;
    align-items: center;
}

.no-bullets {
    list-style-type: none;
    padding-left: 1%;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin: 0px;
    border: 0px;
    width: 75%;
    overflow: hidden;
}

.make-bold {
    font-weight: bold;
}

.icon {
    font-size: 120%;
}

.icon:hover {
    cursor: pointer;
}

.icon-selected {
    font-size: 120%;
    color: rgb(106, 218, 255);
}

.icon-selected:hover {
    cursor: pointer;
}