.bottomscreen {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    border-top: 1px solid grey;

    display: flex;
    align-items: center;
    justify-content: center;
}

#player-icon {
    height: 80px;
    width: auto;
}

.region {
    flex-grow: 1;
}
