/* bi-play-fill is coming from the play icon component */

.card-view {
    overflow: hidden;
}

.card-view img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.card-view h6 {
    display: inline-block
}

.card-view .bi-play-fill {
    display: none;
}
 
.card-view:hover .bi-play-fill {
    display: inline-block;
}

 .card-view .display {
    display: inline-block;
}

.card-view .bi-play-fill {
    float: right;
}

.card-view .bi-pause {
    float: right;
}

.scroll {
    animation: scroll-animation 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 100%;
}

@keyframes scroll-animation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
