/* bi-play-fill is coming from the play icon component */

.card-view {
    overflow: hidden;
    width: 25em;
}

.card-view img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.card-view h6 {
    display: inline-block
}

.card-view .bi-play-fill {
    display: none;
}
 
.card-view:hover .bi-play-fill {
    display: inline-block;
}

 .card-view .display {
    display: inline-block;
}

.card-view .bi-play-fill {
    float: right;
}

.card-view .bi-pause {
    float: right;
}

.dialog .card-view {
    width: 35em;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}