/* bi-play-fill is coming from the play icon component */


.card-view h6 {
    display: inline-block
}

.card-view .bi-play-fill {
    display: none;
}
 
.card-view:hover .bi-play-fill {
    display: inline-block;
}

 .card-view .display {
    display: inline-block;
}

.card-view .bi-play-fill {
    float: right;
}

.card-view .bi-pause {
    float: right;
}