.spread-bar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.time-format {
    font-variant-numeric: tabular-nums;
    font-size: 60%;
    padding: 0% 1%;
    margin: 0;
    border: 0;
}

.progress-bar-style {
    background: grey;
    transition: all 0s;
}

.progress-style {
    z-index: 1;
    width: 100%;
}

.progress-clickable:hover {
    cursor: pointer;
}

.progress-draggable {
    cursor: grab;
}