:root {
    --shadow-width: 0.075;
}

.shadow-wrapper {
    position: relative;
}

.scroll-box {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.scroll-box:before {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    content: '';
    width: calc(var(--shadow-width) * 100%);
    background: linear-gradient(to right,
    rgba(155,255,255,0.8),
    rgba(155,255,255,0));
    z-index: 100;
}

.scroll-box:after {
    position: absolute;
    bottom: 0;
    top: 0;
    right:0;
    content: '';
    width: calc(var(--shadow-width) * 100%);
    background: linear-gradient(to left,
    rgba(155,255,255,0.8) 20%,
    rgba(155,255,255,0) 80%);
    z-index: 100;
}

.scroll-box span {
    align-items: center;
    white-space: nowrap;
    display: inline-block;
    transition: 0s linear;
    /* transform: translateX(calc(var(--shadow-width) * var(--scroll-bar-width))); */
    font-size: 75%;
}

/*
.scroll-box:hover span {
    transform: translateX(min(calc(var(--shadow-width) * var(--scroll-bar-width)), calc((1 - var(--shadow-width)) * var(--scroll-bar-width) - 100%)));
}
*/