input {
    border: none;
}

input:focus {
    outline: none;
  }

.search-bar {
    display: inline-block;
}

.bar {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.search-bar input {
    flex-grow: 1;
}